<div class="answers">
    <h3 id="answerTitle">Respuestas</h3>
    <ul class="answers-list" *ngIf="answers.length>0">
        <li *ngFor="let answer of answers">
            <h5>    
                {{answer.user.firstName}} {{answer.user.lastName}} - 
                <small>{{answer.createdAt| amLocale:'es' | amTimeAgo}}</small>
            </h5>
            <p class="description">{{answer.description}}</p>
        </li>
    </ul>
    <p *ngIf="answers.length===0">Se el primero en comentar</p>
</div>