/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    font-family: 'Roboto', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
}

.mat-progress-spinner{
    position: absolute;
    left: 10%;
    margin-top:10px;
}